<% provide(:title, "Help") %>
<h1>StaticPages#help</h1>
<p>
  Got help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>book</a>.
</p>
